[Unit]
Description=Goobi viewer - Indexer
After=tomcat9.service
After=solr.service
Requires=tomcat9.service
Requires=solr.service


[Service]
Environment="STOPFILE=/opt/digiverso/viewer/hotfolder/.SHUTDOWN_INDEXER"
Environment="LOGFILENAME=indexer"
Restart=always
RestartSec=20s
StartLimitInterval=100s
StartLimitBurst=4
ExecStartPre=/bin/bash -c '[ -e $STOPFILE ] && /bin/rm "$STOPFILE" || true'
ExecStart=/usr/bin/java -jar /opt/digiverso/indexer/solrIndexer.jar /opt/digiverso/indexer/config_indexer.xml 1> /dev/null 2>> /opt/digiverso/logs/indexer.log
ExecStop=/usr/bin/touch "$STOPFILE"
ExecStop=/bin/bash -c 'echo "Waiting for the Indexer to stop."; STILLRUNNING=true; for wait in {1..90}; do ps --pid $MAINPID >/dev/null || STILLRUNNING=false; if [ $STILLRUNNING = "true" ]; then sleep 1; else echo "Indexer shutdown successful."; break; fi; done; [ $STILLRUNNING = "true" ] && echo "Failed to stop Indexer, going to kill..."'
User=tomcat
StandardError=file:/opt/digiverso/logs/indexer.log

[Install]
WantedBy=default.target
WantedBy=tomcat9.service

