<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>
		<Console name="stdout">
			<PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] (%F\:%M\:%L)%n        %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="io.goobi" level="INFO" additivity="true" />
		<Logger name="de.intranda.digiverso.ocr" level="WARN" additivity="false" />
		<Logger name="de.intranda.digiverso.normdataimporter" level="DEBUG" additivity="false" />
		<Logger name="org.apache" level="ERROR" additivity="true" />
		<Root level="info">
			<AppenderRef ref="stdout" />
		</Root>
	</Loggers>

</Configuration>
